@use "../variables.scss" as *;

.threads-achievements-container,
.threads-details-container {
  width: 100%;
  max-width: 640px;
  padding-left: 10px;
  padding-right: 10px;

  .thread-card {
    .card-header {
      height: 60px;
    }
  }

  .thread-title {
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
    display: flex;
    flex-direction: column;

    .username {
      color: $sub-color1-darker;
    }
  }

  .all-threads-btn {
    width: 130px;
    margin-bottom: 15px;

    .all-threads-btn-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;

      svg {
        margin-right: 10px;
        width: 15px;
        height: 15px;
        stroke: $sub-color1;
        path { fill: $sub-color1; }
      }
    }
  }
}

.threads-achievements-container {
  .card-container {
    width: 100%;
    margin-bottom: 8px;

    .card-dropdown {
      padding: 8px;
    }
  }
}

.threads-details-container {
  display: flex;
  flex-direction: column;

  .card-container {
    width: 100%;
    margin-bottom: 8px;

    .card-dropdown {
      padding-bottom: 0;

      .user-action-bar-container {
        margin-top: 5px;
        margin-left: -10px;
        margin-right: -10px;
      }

      .thread-comment-content {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .children-container {
    width: 100%;
    display: flex;
    flex-direction: row;

    .nesting-line {
      width: 2px;
      height: auto;
      background-color: $sub-color1;
      margin-right: 10px;
      margin-left: 5px;
    }

    .children-cards {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
