// colors
$background-color: #020122;
$background-color-lighter: #0e0e4d;
$main-color: #acf39d;
$main-color-darker: #7bbf6d;
$sub-color1: #fff;
$sub-color2: #dfc2f2;
$error-color: #c00;

// fonts
$font-family: "Inter";
$font-size-small: 13px;
$font-size-regular: 16px;
$font-size-big: 22px;

// screen width
$sm-width: 640px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1280px;
$xxl-width: 1536px;

// margins
$margin-small: 15px;
