@use "../../variables.scss" as *;

.back-button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    width: 25px;
    height: 25px;
    stroke: $sub-color1;
    path { fill: $sub-color1; }
  }

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    opacity: 1;
  }

  &:focus:hover {
    opacity: 0.5;
  }
}
