@use "../../variables.scss" as *;

.back-button {
  background-color: transparent;
  border: none;

  svg {
    width: 25px;
    height: 25px;
    stroke: $sub-color1;
    path { fill: $sub-color1; }
  }
}
