@use "../../variables.scss" as *;

$color-main: $background-color;
$burger-color: $sub-color1;
$burger-color-active: $sub-color1;
$color-link: $sub-color1;
$button-height: 19px;
$button-width: 30px;

.burder-menu-container {
  z-index: 100;

  .button-container {
    position: relative;
    height: $button-height;
    width: $button-width;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      opacity: 1;
    }

    &.active {
      .top {
        transform: translateY(8px) translateX(0) rotate(45deg);
        background: $burger-color-active;
      }

      .middle {
        opacity: 0;
        background: $burger-color-active;
      }

      .bottom {
        transform: translateY(-8px) translateX(0) rotate(-45deg);
        background: $burger-color-active;
      }
    }

    div {
      background: $burger-color;
      border: none;
      border-radius: 5px;
      height: 3px;
      width: $button-width;
      transition: all 0.35s ease;
      cursor: pointer;

      &:nth-of-type(2) {
        margin-top: 5px;
      }

      &:nth-of-type(3) {
        margin-top: 5px;
      }
    }
  }

  .overlay {
    position: fixed;
    background: $color-main;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;

    .overlay-menu {
      position: relative;
      height: 70%;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div {
        text-align: center;
        opacity: 0;
        margin-left: 50%;

        .button-classic {
          width: 200px;
        }

        a {
          text-transform: capitalize;
          color: $color-link;
          text-decoration: none;
          font-size: 2rem;

          &:hover {
            color: $main-color;
          }
        }
      }
    }

    &.open {
      opacity: 1;
      visibility: visible;
      height: 100%;

      div {
        animation: fadeinright 0.5s ease forwards;
        animation-delay: 0.35s;

        &:nth-of-type(2) {
          animation-delay: 0.4s;
        }

        &:nth-of-type(3) {
          animation-delay: 0.45s;
        }

        &:nth-of-type(4) {
          animation-delay: 0.5s;
        }
      }
    }
  }
}

@keyframes fadeinright {
  0% {
    opacity: 0;
    margin-left: 20%;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}
