@use "../../variables.scss" as *;

$card-width: 300px;

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $card-width;
  transition: width 0.3s ease-in-out;

  .card-header {
    cursor: pointer;
    height: 40px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color-lighter;
    border-radius: 5px;
    border: none;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;

    .chevron-down {
      width: 20px;
      height: 20px;
      cursor: pointer;
      transform: rotate(-90deg);
      stroke-width: 0;
      transition: transform 0.3s ease-in-out;

      path {
        fill: $sub-color1;
      }
    }

    .check-icon {
      width: 20px;
      height: 20px;
      fill: $sub-color1;
    }

    .cross-button {
      padding: 0;
    }

    .title {
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      text-overflow: ellipsis;
      overflow-x: hidden;
      width: 100%;
    }

    &:hover {
      &.clickable {
        opacity: 0.5;
      }
    }

    &:focus {
      &.clickable {
        opacity: 1;
      }
    }
  }

  .card-dropdown {
    width: 100%;
    margin-top: 0;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    background-color: $background-color-lighter;
    border-radius: 5px;
    transition: max-height 0.2s ease-out, padding 0.2s linear, text-align 0.2s linear;
  }

  &.open {
    .card-header {
      .chevron-down {
        transform: rotate(90deg);
      }
    }

    .card-dropdown {
      text-align: justify;
      padding: 10px;
      margin-top: 1px;
      max-height: 500px;
      transition: max-height 0.3s ease-in;
    }
  }
}

@media (min-width: $sm-width) {
  $card-width: 400px;

  .card-container {
    width: $card-width;
  }
}

@media (min-width: $lg-width) {
  $card-width: 500px;

  .card-container {
    width: $card-width;
  }
}
