@use "../../variables.scss" as *;

.cross-button {
  svg {
    width: 25px;
    height: 25px;
    stroke: $sub-color1;
    transform: rotate(45deg);

    path {
      stroke: $sub-color1;
      stroke-width: 1.5px;
    }
  }
}
