@use "../../variables.scss" as *;

.text-input-container {
  display: flex;
  flex-direction: column;
  width: 250px;

  .text-input {
    width: 100%;
    background-color: $background-color-lighter;
    border: none;
    border-radius: 5px;
    padding: 5px;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:focus-visible {
      outline: none;
    }
  }

  .error-message {
    width: 100%;
    color: $error-color;
    font-size: $font-size-small;
    word-break: break-word;
  }
}
